# SECRET_KEY = secrets.token_urlsafe(32)  # 生成安全的随机密钥
SECRET_KEY="xxxxxx"
# qwen模型API
QWEN_API="xxxxxxx"
# 高德地图API_KEY
AMAP_MAPS_API_KEY="xxxxxxx"

# 数据库配置
DB_CONFIG={"host": "localhost", "port": 3306, "user": "fmms", "password": "xxxx", "db": "fmms", "charset": "utf8mb4"}
